* {
  margin: 0;
  padding: 0;
}

body {
  background: #cdcdcd;
}

.header {
  line-height: 60px;
  background: #333;
  font-size: 24px;
  color: #fff
}

.header-content {
  font-size: 24px;
  color: #fff;
  margin: 0 auto;
  width: 600px;
}

.header-input {
  outline: none;
  margin-top: 15px;
  float: right;
  line-height: 24px;
  border-radius: 5px;
  padding: 0 10px;
  width: 360px;
}


.undo-list {
  margin: 0 auto;
  width: 600px;
}

.undo-list-title {
  margin: 10px 0;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
}

.undo-list-count {
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  background: #e6e6ea;
  border-radius: 50%;
}

.undo-list-content {
  list-style-type: none;
}

.undo-list-item {
  cursor: pointer;
  line-height: 32px;
  font-size: 16px;
  margin-bottom: 10px;
  background: #fff;
  border-left: 3px solid #629A9C;
  text-indent: 10px;
}

.undo-list-delete {
  float: right;
  text-indent: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #e6e6ea;
  border-radius: 50%;
  margin: 6px 6px 0 0;
}

.undo-list-input {
  width: 300px;
  line-height: 22px;
  position: relative;
  top: -2px;
  font-size: 14px;
  text-indent: 10px;
}